.advantages {
  // display: none;
  &__list {
    display: flex;
    gap: 30px;
    list-style: none;
    flex-direction: column;
    align-items: center;

    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  &__item {
    max-width: 450px;
    max-height: 226px;

    @include tablet {
      max-width: 354px;
      max-height: 251px;
    }

    @include desktop {
      max-width: 270px;
      max-height: 251px;
    }
  }
  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    background: map-get($themeColors, "filter");
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 25px 100px;
  }
  &__title {
    line-height: 1.14;
    font-weight: 700;
    letter-spacing: 0.03em;
  }
  &__text {
    color: map-get($themeColors, "project");
    line-height: 1.71;
    letter-spacing: 0.03em;
    padding-top: 10px;
  }
}
