.menu {
  &__list {
    display: none;

    @include tablet {
      display: flex;
      margin-left: 83px;
      margin-right: 101px;
    }

    @include desktop {
      margin-left: 93px;
      margin-right: auto;
    }

    // display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 46px;
    margin-left: 93px;
    margin-right: auto;
  }

  &__underline {
    position: relative;
  }
  &__underline::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: map-get($themeColors, "primary");
    display: block;
    margin-top: 28px;
  }

  &__link {
    color: map-get($themeColors, "text");
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.02em;
  }

  &__link--interaction:hover,
  &__link--interaction:focus {
    color: map-get($themeColors, "primary");
    fill: map-get($themeColors, "primary");
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
