.modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  max-width: 450px;
  max-height: 609px;

  @include desktop {
    padding-left: 40px;
    padding-right: 40px;
    min-width: 528px;
    height: 581px;
  }

  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%);
  transition: transform 1s ease-in;
  &__button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
    margin-top: 8px;
    margin-right: 8px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  &__button:hover,
  &__button:focus {
    border: 1px solid map-get($themeColors, "primary");
    fill: map-get($themeColors, "primary");
  }
  &__form {
    width: 100%;
    @include desktop {
      width: 100%;
    }
  }

  &__header {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.6px;
    padding-top: 40px;
    @media screen and (max-width: 440px) {
      padding-bottom: 20px;
    }

    padding-right: 40px;
    padding-left: 40px;
    // margin-left: 40px;
    width: 100%;
    // max-width: 370px;
    @include desktop {
      max-width: 448px;
      padding-left: 0;
      padding-right: 0;
    }
  }
  &__box {
    padding-top: 12px;
  }
  &__label {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 0 40px;
    @include desktop {
      padding: 0 0;
    }

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: map-get($themeColors, "project");
  }
  &__input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    // position: static;
    width: 100%;
    // @media screen and (max-width: 450px) {
    //   width: 100%;
    // }
    @include desktop {
      width: 448px;
    }
    height: 40px;
    margin-top: 4px;
    margin-bottom: 10px;
    // padding-left: 42px;
    padding-bottom: 12px;
    padding-top: 12px;
  }
  &__input:hover,
  &__input:focus-within,
  &__comment:hover,
  &__comment:focus-within {
    border: 1px solid map-get($themeColors, "primary");
    outline: none;
  }

  &__input:hover + &__icon,
  &__input:focus-within + &__icon {
    fill: map-get($themeColors, "primary");
    outline: none;
  }

  &__icon {
    position: absolute;
  }
  &__icon--person {
    top: 132px;
    left: 52px;

    @include desktop {
      top: 105px;
      left: 52px;
    }
  }
  &__icon--phone {
    top: 200px;
    left: 52px;
    @include desktop {
      top: 172px;
      left: 52px;
    }
  }
  &__icon--mail {
    top: 268px;
    left: 52px;
    @include desktop {
      top: 240px;
      left: 52px;
    }
  }
  &__comment {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 100%;

    height: 120px;
    padding: 12px 16px 12px 16px;
    margin-top: 4px;
  }
  &__comment::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}
