.socials {
  padding-top: 60px;
  // padding-left: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include tablet {
    padding-top: 0;
    margin-top: 10px;
    margin-left: 144px;
  }

  @include desktop {
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 70px;
    margin-right: 78px;
  }

  &__header {
    color: map-get($themeColors, "secondary");
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
  }
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    padding: 12px 12px;
  }
  &__link:focus,
  &__link:hover {
    cursor: pointer;
    background-color: map-get($themeColors, "primary");
    transition-property: color, fill, background-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
