.statute {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__input {
    display: none;
  }
  &__accept {
    // width: 100%;
    // height: 100%;
    // max-width: 370px;

    padding-left: 50px;
    padding-right: 40px;
    @include desktop {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__label {
    position: absolute;
    left: 40px;
    top: 465px;

    @include desktop {
      left: 55px;
      top: 440px;
    }
  }

  &__agree {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 14px;
    height: 13px;
  }
  &__svg {
    position: absolute;
    top: 3px;
    left: 3px;
  }
  &__accept {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  &__text {
    // max-width: 346px;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0.36px;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 31px;

    @include desktop {
      font-size: 14px;
      // max-width: 448px;
    }

    line-height: 1.71px;

    color: map-get($themeColors, "project");
  }
  &__link {
    font-size: 12px;
    letter-spacing: 0.36px;
    line-height: 1.71;
    color: map-get($themeColors, "primary");
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: currentColor;
    text-decoration-thickness: 1px;
  }
  &__button {
    max-width: 200px;
    max-height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border: none;
    color: map-get($themeColors, "secondary");
    background-color: map-get($themeColors, "primary");
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 10px 76px 10px 76px;
    margin-bottom: 40px;
  }
  &__input:checked + &__label svg {
    fill: map-get($themeColors, "primary");
  }
  &__input:checked + &__label span {
    background-color: map-get($themeColors, "primary");
  }
}
